/* .primary-btn {
    border-width: 2px;
    border-color: #7D12FF;
    font-weight: 700;
    background-color: #7D12FF;
    color: white;
    transition: 0.4s;
    padding: 0rem 0.75rem;
}

.primary-btn:hover {
    background-color: transparent;
    color: #7D12FF;
} */