nav {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it's above other content */
    width: 100%;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.06);
}

nav .logo {
    border-radius: 0.75rem;
    border-width: 4px;
    border-color: #7D12FF;
    transition: 0.4s;
    color: #7D12FF;
}

nav .logo:hover {
    border-radius: 3rem;
    background-color: #7D12FF;
    color: white;
}

nav .menu {
    display: none;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
}

nav ul {
    display: flex;
    position: absolute;
    padding: 0.75rem;
    gap: 1.5rem;
    position: static; /* Default for larger screens */
    transform: none; /* No transform on larger screens */
    transition: none; /* No transition on larger screens */
}

nav ul li a {
    display: flex;
    align-items: center;
}

nav ul li.close-menu {
    display: none;
    padding-top: 1.8rem;
    padding-right: 1.7rem;
    width: 100%;
    justify-content: end;
}

nav .resume-download {
    border-width: 2px;
    border-color: #7D12FF;
    font-weight: 700;
    background-color: #7D12FF;
    color: white;
    transition: 0.4s;
}

nav .resume-download:hover {
    background-color: transparent;
    color: #7D12FF;
}

@media (max-width: 767px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        background-color: rgba(44, 31, 59);
        flex-direction: column;
        align-items: start;
        transition: transform 0.4s ease-in-out;
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.04);
    }

    nav ul.open {
        display: flex;
        transform: translateX(0%);
    }

    nav ul.close {
        transform: translateX(100%);
    }

    nav ul li {
        padding: 0px 20px;
    }

    nav ul li.close-menu {
        display: flex;
    }
}
