@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  background-color: rgba(44, 31, 59, 0.467);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #000000; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  text-decoration: none;
  /* color: #5c2e7e; */
  color: #D09CFA;
  background: rgb(92, 46, 126, 0.4);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: 0.2s;
}

.App-link:hover {
  background: #D09CFA;
  color: rgb(92, 46, 126);
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-cursor {
  position: absolute;
  width: 40rem;
  height: 40rem;
  background-color: rgb(44, 31, 59); /* No solid fill */
  box-shadow: 0 0 50px 40px rgb(44, 31, 59); /* Blurred shadow */
  z-index: -1;
  border-radius: 100%;
  mix-blend-mode: color;
  overflow: hidden;
}