@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Roboto Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(92, 46, 126, 0.4); */
}

::selection {
  background-color: #7D12FF;
  color: #fff;
}

::-moz-selection {
  background-color: #7D12FF;
  color: #fff;
}

a:not(.active):hover,
.active {
  color: #7D12FF;
}

.primary-btn {
  border-width: 2px;
  border-color: #7D12FF;
  font-weight: 700;
  background-color: #7D12FF;
  color: white;
  transition: 0.4s;
  padding: 0rem 0.75rem;
}

.primary-btn:hover {
  background-color: transparent;
  color: #7D12FF;
}

/* code {
  
} */