@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Roboto Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(92, 46, 126, 0.4); */
}

::selection {
  background-color: #5c2e7e;
  color: #fff;
}

::-moz-selection {
  background-color: #5c2e7e;
  color: #fff;
}

a:not(.active):hover,
.active {
  color: #D09CFA;
}

/* code {
  
} */